# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
dist/

# NPM file created by GitHub actions
.npmrc

# IDEs
.idea

# Published package
*.tgz

# Yalc
.yalc
yalc.lock

# Perf tests
.reassure

# Benchmark baseline files
.bench-baseline.json
.bench-dirtymap.json
