# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
dist/

# NPM file created by GitHub actions
.npmrc

# IDEs
.idea

# Decrypted private key we do not want to commit
.github/OSBotify-private-key.asc
