name: Reassure Performance Tests

on:
  pull_request:
    types: [opened, synchronize]
    branches-ignore: [staging, production]
    paths-ignore: ['**.md', '**.sh']

jobs:
  # Note: We run baseline and delta performance checks in the same runner to reduce hardware variance across machines
  perf-tests:
    if: ${{ github.actor != 'OSBotify' }}
    runs-on: ubuntu-24.04-v4
    steps:
      # v4
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      # v4
      - name: Setup Node
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm ci

      - name: Reassure stability check
        run: npx reassure check-stability --verbose

      - name: Validate Reassure stability results
        id: validateReassureStabilityResults
        uses: ./.github/actions/javascript/validateReassureOutput
        with:
          ALLOWED_DURATION_DEVIATION: 10
          ALLOWED_RELATIVE_DURATION_DEVIATION: 20
          IS_VALIDATING_STABILITY: true

      - name: Checkout PR head SHA
        run: |
          git fetch origin ${{ github.event.pull_request.head.sha }} --no-tags --depth=1
          git switch --force --detach ${{ github.event.pull_request.head.sha }}
          
      - name: Reinstall dependencies
        run: npm ci

      - name: Run Reassure delta tests
        run: npx reassure --branch --verbose

      - name: Upload Reassure results
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: .reassure/
          if-no-files-found: ignore
          include-hidden-files: true

      - name: Validate Reassure results
        id: validateReassureResults
        uses: ./.github/actions/javascript/validateReassureOutput
        with:
          ALLOWED_DURATION_DEVIATION: 10
          ALLOWED_RELATIVE_DURATION_DEVIATION: 20
          IS_VALIDATING_STABILITY: false
